<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
    Hi! My name is Bryan and, professionally, I'm a SWE on the SEO team @ <a href="https://www.coursehero.com/" target="_blank">Course Hero</a>.
    I invest any spare time I have into photography (trying to get into concerts) and gaming!
    <br><br>
    Checkout my instagram
    <a href="https://www.instagram.com/bryngo.jpg/" target="_blank">here</a> or my gaming set up <a href="http://bryngo.me/articles/2019-03/pc-build" target="_blank">here</a>!
</div>